@font-face {
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf");
}

.flow-layer {
    position: absolute;
    overflow: visible;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px;
    animation-duration: 1s;
}

.flow-artboard {
    width: 560px;
    height: 708px;
    overflow: hidden;
    position: relative;
    padding: 0px;
    margin: 0px;
    background-color: #F0F1F3;
}


#dupixentlogo {
    width: 152px;
    height: 60px;
    left: 280px;
    top: 70px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#bitmap {
    width: 152px;
    height: 60px;
    left: 76px;
    top: 30px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    clip-path: url(#bitmap-mask);
    -webkit-clip-path: url(#bitmap-mask);}
#mask_1 {
    width: 152px;
    height: 60px;
    left: 76px;
    top: 30px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#mask_1-svg {
    position: absolute;
    fill: #D8D8D8;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#bitmap_1 {
    width: 184px;
    height: 110px;
    left: 76px;
    top: 26px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}

#menuicon_copy {
    width: 24px;
    height: 24px;
    left: 538px;
    top: 22px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#shape {
    width: 24px;
    height: 24px;
    left: 12px;
    top: 12px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#shape-svg {
    position: absolute;
    fill: #00000000;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#shape_1 {
    width: 18px;
    height: 12px;
    left: 12px;
    top: 12px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#shape_1-svg {
    position: absolute;
    fill: #666666;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}

#inputfield {
    width: 220px;
    height: 56px;
    left: 130px;
    top: 208px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#enter_your_question {
    width: 220px;
    height: 56px;
    left: 110px;
    top: 28px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    font-family: "Roboto-Bold";
    font-size: 24px;
    text-anchor: middle;
    inline-size: 220;
    text-align: left;
    color: #F0F1F3;
    overflow: hidden;}
#group_2 {
    width: 560px;
    height: 120px;
    left: 260px;
    top: -120px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#rectangle_21 {
    width: 560px;
    height: 120px;
    left: 280px;
    top: 60px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#rectangle_21-svg {
    position: absolute;
    fill: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}

#xicon {
    width: 24px;
    height: 24px;
    left: 32px;
    top: 146px;
    transform: translate(-50%, -50%) rotate(90deg);
    box-shadow: 0px 0px 3px #00000000;
}
#oval_3 {
    width: 23.9765px;
    height: 23.9949px;
    left: 11.9883px;
    top: 11.9974px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#oval_3-svg {
    position: absolute;
    fill: #494D5B;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#group_3 {
    width: 13px;
    height: 18px;
    left: 11.9404px;
    top: 12.4079px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#combined_shape {
    width: 12.7721px;
    height: 17.521px;
    left: 6.53556px;
    top: 8.77185px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#combined_shape-svg {
    position: absolute;
    fill: url(#combined_shape-fill);
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#rectangle_6 {
    width: 560px;
    height: 300px;
    left: 786px;
    top: 126px;
    transform: translate(-50%, -50%) rotate(-90deg);
    box-shadow: 0px 2px 4px #00000030;
}
#rectangle_6-svg {
    position: absolute;
    fill: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}

#xbubble_copy_3 {
    width: 161px;
    height: 31px;
    left: 134.5px;
    top: 145.5px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#ui_would_you_like_to_see_a_summary_of_the_studies_component {
    width: 161px;
    height: 31px;
    left: 80.5px;
    top: 15.5px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#bg {
    width: 161px;
    height: 31px;
    left: 80.5px;
    top: 15.5px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#bg-svg {
    position: absolute;
    fill: #F0F1F3;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#__10_8_10 {
    width: 142px;
    height: 20px;
    left: 81px;
    top: 16px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    font-family: "Roboto-Regular";
    font-size: 16px;
    text-anchor: middle;
    inline-size: 142;
    text-align: left;
    color: #494D5B;
    overflow: hidden;}

#group_copy {
    width: 335px;
    height: 126px;
    left: 280.5px;
    top: 495px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#rectangle_7 {
    width: 335px;
    height: 126px;
    left: 167.5px;
    top: 63px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#rectangle_7-svg {
    position: absolute;
    fill: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#group_4_copy_7_copy {
    width: 36px;
    height: 36px;
    left: 28px;
    top: 28px;
    transform: translate(-50%, -50%) rotate(90deg);
    box-shadow: 0px 0px 3px #00000000;
}
#oval_4 {
    width: 35.9648px;
    height: 35.9923px;
    left: 17.9824px;
    top: 17.9962px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#oval_4-svg {
    position: absolute;
    fill: #494D5B;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#group_4 {
    width: 20px;
    height: 27px;
    left: 18.1606px;
    top: 18.6119px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#combined_shape_1 {
    width: 19.1581px;
    height: 26.2815px;
    left: 9.80335px;
    top: 13.1578px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#combined_shape_1-svg {
    position: absolute;
    fill: url(#combined_shape_1-fill);
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#gibt_es_bereits_erke {
    width: 270px;
    height: 63px;
    left: 192px;
    top: 41.5px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    font-family: "Roboto-Bold";
    font-size: 18px;
    text-anchor: middle;
    inline-size: 270;
    text-align: left;
    color: #494D5B;
    overflow: hidden;}
#stacked_group {
    width: 122px;
    height: 20px;
    left: 118px;
    top: 98px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#uitype_something_component {
    width: 18px;
    height: 14px;
    left: 9px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#__8_3_8 {
    width: 18px;
    height: 14px;
    left: 9px;
    top: 7px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    font-family: "Roboto-Bold";
    font-size: 12px;
    text-anchor: middle;
    inline-size: 18;
    text-align: left;
    color: #8DD2CF;
    overflow: hidden;}
#uitype_something_component_copy {
    width: 94px;
    height: 20px;
    left: 75px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#bg_1 {
    width: 94px;
    height: 20px;
    left: 47px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#bg_1-svg {
    position: absolute;
    fill: #8DD2CF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#__8_3_9 {
    width: 78px;
    height: 14px;
    left: 47px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    font-family: "Roboto-Regular";
    font-size: 12px;
    text-anchor: middle;
    inline-size: 78;
    text-align: right;
    color: #FFFFFF;
    overflow: hidden;}

#group_copy_1 {
    width: 335px;
    height: 126px;
    left: 280.5px;
    top: 631px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    animation: group_copy_1-animation 1s ease-in-out 0s both;
}
#rectangle_7_copy {
    width: 335px;
    height: 126px;
    left: 167.5px;
    top: 63px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#rectangle_7_copy-svg {
    position: absolute;
    fill: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#ist_es_möglich_dupix {
    width: 266px;
    height: 63px;
    left: 192px;
    top: 41.5px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    font-family: "Roboto-Bold";
    font-size: 18px;
    text-anchor: middle;
    inline-size: 266;
    text-align: left;
    color: #494D5B;
    overflow: hidden;}
#stacked_group_1 {
    width: 225px;
    height: 20px;
    left: 169.5px;
    top: 98px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#uitype_something_component_1 {
    width: 121px;
    height: 14px;
    left: 60.5px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#__8_3_10 {
    width: 121px;
    height: 14px;
    left: 60.5px;
    top: 7px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    font-family: "Roboto-Bold";
    font-size: 12px;
    text-anchor: middle;
    inline-size: 121;
    text-align: left;
    color: #E063A3;
    overflow: hidden;}
#uitype_something_component_copy_1 {
    width: 94px;
    height: 20px;
    left: 178px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#bg_2 {
    width: 94px;
    height: 20px;
    left: 47px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#bg_2-svg {
    position: absolute;
    fill: #E063A3;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#__8_3_11 {
    width: 78px;
    height: 14px;
    left: 47px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
    font-family: "Roboto-Regular";
    font-size: 12px;
    text-anchor: middle;
    inline-size: 78;
    text-align: right;
    color: #FFFFFF;
    overflow: hidden;}
#oval_2_copy {
    width: 36px;
    height: 36px;
    left: 28px;
    top: 28px;
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0px 0px 3px #00000000;
}
#oval_2_copy-svg {
    position: absolute;
    fill: #00000000;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}

path {
    fill-rule: evenodd; 
}

svg {
   overflow: visible;
}