





@keyframes group_copy_1-animation {
    0% {
        left: 280.5px;
        top: 631px;
    }
    16% {
        left: 190.5px;
        top: 633px;
    }
    100% {
        left: 280.5px;
        top: 631px;
    }
}

